# Ignore files and directories in the root directory
node_modules

# Ignore files and directories in the client directory
client/node_modules

# Ignore files and directories in the server directory
server/venv
server/__pycache__
server/test.txt